/* fonts */



/* general */
*, *::after, *::before {
    box-sizing: border-box;
}


/* custom properties */

:root {
    --color-black: #111;
    --color-white: #FFFFFF;
}


/* code starts here: */

h2, h3 {
    margin: 0;
}

h1 {
    margin-top: 2em;
    margin-bottom: 0.5em;
    text-align: center;
    text-transform: uppercase;
}

button {
    height: 50px;
    width: 50px;
    background-color: none;
    background-size: cover;
    background-repeat: no-repeat;
    border: none;

    cursor: pointer;
}


.card-container {
    margin: 0 3em 0 3em;
    padding: 1em;
    border-radius: 1em;
}

/* grid for metadata */
.content-wrapper .metadata {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr;
    background: lavender;
    padding: 1em;
    border-radius: 2em 2em 0 0;
}

.content-displaynames h3 {
    padding-top: 1em;
}

/* grid for level */
.content-wrapper .level-container {
    display: grid;
    grid-column: 3/4;
}

.content-wrapper .level-container h3#level {
    margin-top: 0.3em;
}

/* avatar box, height is custom so this will change */
#icon-container {
    height: 10em;
    background: lavender;
}

/* flex for about me information */
#about-me-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0 2em 0;

    background: lavender;
    border-radius: 0 0 2em 2em;
}

#about-me-container #favorite-game {
    font-size: 1.5em;
    margin: 0.5em 0 0.5em 0;
}

#about-me-container #favorite-game p#bio {
    margin: 0 0 1em 0;
}

/* buttons with flex */
#buttons-container {
    display: flex;
    justify-content: space-evenly;
}
#icon {
    max-width: 250px;
    height: auto;
}