main article {
    width: 40vw;
    height: 100vh;

    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    transform: translateX(100%);

    padding: 2em;

    background-color: var(--black-color);

    border-radius: 1em 0 0 1em;

    color: var(--white-color);

    transition: all .4s ease-in-out;
    overflow: auto;
}

main article.open-popup {
    transform: translateX(0%);
}

main article button {
    aspect-ratio: 1/1;
    height: 3.5em;

    display: flex;
    justify-content: center;
    align-items: center;

    border: none;
    border-radius: 1em;
}

main article button img {
    width: 30%;
}

main article h2 {
    margin-top: 1em;

    font-size: 2em;
    color: var(--white-color);
}

main article p {
    margin-top: 1em;

    font-size: .75em;
    color: var(--gray-color);
    line-height: 140%;
}

main article > img {
    width: 100%;

    margin-top: 1em;

    border-radius: 1em;
}

main article ul {
    position: static;
}

main article li {
    display: block;
}